@tailwind base;
@tailwind components;

body {
  @apply bg-gray-300;
  height: 100%;
}

.flex {
  display: flex !important;
}

@tailwind utilities;

.sidebar {
  height: calc(100vh - 80px);
}

.room {
  position: absolute;
  z-index: 1000;
}

.room:hover {
  background-color: rgba(215, 159, 26, 0.3);
}
