<nav class="flex items-center justify-between flex-wrap bg-yellow-600 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <svg class="fill-current w-8 mr-2" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 32 32"><path stroke-width="4" d="M30,21a13.947,13.947,0,0,0-4.1-9.906A14.451,14.451,0,0,0,24,9.519V8.5A2.5,2.5,0,0,0,21.5,6H18.953a3.175,3.175,0,0,0-5.9,0H10.5A2.5,2.5,0,0,0,8,8.5V9.524A13.971,13.971,0,0,0,2,21a2,2,0,0,0,0,4H30a2,2,0,0,0,0-4ZM8,10.778V13.5a.5.5,0,0,0,1,0v-5A1.5,1.5,0,0,1,10.5,7h2.318L12,18.465a.5.5,0,0,0,.463.534A.5.5,0,0,0,13,18.535l.76-10.727.061-.788a1.666,1.666,0,0,1,.076-.4,2.176,2.176,0,0,1,4.218.029,1.561,1.561,0,0,1,.069.376L19,18.536a.5.5,0,0,0,.5.464h.036A.5.5,0,0,0,20,18.464L19.182,7H21.5A1.5,1.5,0,0,1,23,8.5v5a.5.5,0,0,0,1,0V10.761A14,14,0,0,1,25.2,11.8,12.95,12.95,0,0,1,29,21H3A12.964,12.964,0,0,1,8,10.778ZM30,24H2a1,1,0,0,1,0-2H30a1,1,0,0,1,0,2Z"/></svg>
    <span class="font-semibold text-xl tracking-tight">Workvisor</span>
  </div>

  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-yellow-200 border-yellow-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>

  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-4">
        Zdefiniuj Pokoje
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white mr-4">
        Lista Pracowników
      </a>
      <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-yellow-200 hover:text-white">
        Ustawienia
      </a>
    </div>
  </div>
</nav>
