<tr>
  <td class="border px-4 py-2">{{@person.first_name}} {{@person.last_name}}</td>
  <td class="border px-4 py-2">{{violation-for-rule @violation.rule}}</td>
  <td class="border px-4 py-2">{{this.timeFromNowInMinutes}}</td>
</tr>
