<div class="sidebar shadow-lg w-64 bg-white mb-auto">
  {{#each @people as |person index|}}
    <Dashboard::Sidebar::Person @roomsById={{@roomsById}} @person={{person}} @personIndex={{index}} />
  {{/each}}
</div>
