<div class="sidebar shadow-lg w-64 bg-white">
  {{#each @people as |person index|}}
    <div class="shadow-sm border-b p-4">
      <div class="...">Person {{add index 1}}</div>
      <div class="text-gray-500 text-sm">Currently in: {{person.to}}</div>
    </div>
  {{/each}}
</div>
