<div class="violationModal">
  <div class="video_wrapper">
    <iframe src={{this.violationResponseData.video_url}} frameborder="0" class="video_iframe"></iframe>
  </div>

  <h1>
    {{this.violationModal.violationData.person.to}}
  </h1>

  <div class="flex">
    <div>v1</div>
    <div>v2</div>
    <div>v3</div>
  </div>
</div>
